<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>出错了</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table align="center">
    <tr>
        <td><img src="../../static/images/500.jpg" style="text-align: center"
                 th:attr="src=@{/images/500.jpg},title='aa',alt='aa'"/></td>
    </tr>
    <tr></tr>
    <tr>
        <td>
            <div th:size="100px" th:height="100px" style=""></div>
        </td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr>
        <td><a href="/index">返回首页</a></td>
    </tr>
</table>

</body>
</html>