body {
    font: 12px/20px "微软雅黑", "宋体", Arial, sans-serif, Verdana, Tahoma;
    padding: 0;
    margin: 0;
}

.layout-split-proxy-h {
    position: absolute;
    width: 2px;
    background: #888;
    font-size: 1px;
    cursor: e-resize;
    display: none;
    z-index: 5;
}

.layout-split-north {
    border-bottom: 5px solid #efefef;
}

.layout-split-south {
    border-top: 5px solid #efefef;
}

.layout-split-east {
    border-left: 0px solid #efefef;
}

.layout-split-west {
    border-right: 0px solid #efefef;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.cs-north {
    height: 60px;
}

.cs-north-bg {
    width: 100%;
    height: 100%;
    background: url("") repeat-x;
}

.cs-north-logo {
    height: 40px;
    margin: 15px 0px 0px 5px;
    display: inline-block;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none
}

.cs-west {
    width: 200px;
    padding: 0px;
}

.cs-navi-tab {
    padding: 5px;
}

.cs-tab-menu {
    width: 120px;
}

.cs-home-remark {
    padding: 10px;
}

.wrapper {
    float: right;
    height: 30px;
    margin-left: 10px;
}

.ui-skin-nav {
    float: right;
    padding: 0;
    margin-right: 30px;
    list-style: none outside none;
    height: 30px;
}

.ui-logout {
    float: right;
    display: inline;
    padding: 0;
    margin: 15px 10px 0px 5px;
    list-style: none outside none;
    height: 30px;
    font-size: 14px;
    cursor: pointer;
}

.ui-skin-nav .li-skinitem {
    float: left;
    font-size: 12px;
    line-height: 30px;
    margin-left: 10px;
    text-align: center;
}

.ui-skin-nav .li-skinitem span {
    cursor: pointer;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.ui-skin-nav .li-skinitem span.cs-skin-on {
    border: 1px solid #FFFFFF;
}

.ui-skin-nav .li-skinitem span.gray {
    background-color: gray;
}

.ui-skin-nav .li-skinitem span.default {
    background-color: blue;
}

.ui-skin-nav .li-skinitem span.bootstrap {
    background-color: #D7EBF9;
}

.ui-skin-nav .li-skinitem span.black {
    background-color: black;
}

.ui-skin-nav .li-skinitem span.metro {
    background-color: #FFE57E;
}